<div class="container">
    <form action="/added" method="POST">

        <div class="form-group ">
            <label class="form-label" for="leadName">Lead Name: </label>
            <input class="form-control" id="leadName" type="text" placeholder="Lead Name" name="leadName" required />
        </div>
        <div class="form-group ">
            <label for="taskType" class="col-form-label">Task Type</label>
            <select id="taskType" , name="taskType">
                <option>Select Task Type</option>
                {{#each typesOfTask}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group ">
            <label for="summary" class="col-form-label">Description</label>
            <div>
                <textarea id="description" name="description" cols="40" rows="5" required="required"
                    class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group ">
            <label class="form-label" for="taskDate">Contact Number: </label>
            <input class="form-control" id="taskDate" type="datetime-local" placeholder="Task Date" name="taskDate" required />
        </div>
        <button class="btn btn-primary btn-lg my-3" id="submitButton" type="submit"
            onclick=alertFun("Added")>Submit</button>
    </form>
</div>
<script>function alertFun(message) { alert(message) }</script>